*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#content .clear {
    clear: both;
}
.text-white {
    color: white !important;
}

#main{

}
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0px; 
    left: 0px;
    right: 0px;
    z-index: 1;
}
#nav {
    display: inline-block;

}

#nav .subnav li {
    display: block;
}

#nav > li {
    display: inline-block;
} 

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;

}

#nav > li:hover > a ,
#nav .subnav li:hover {
    color: black;
    background-color:gray;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height:  38px;

}

#nav .nav-arrow-down {
    font-size: 16px;
    
}

#header .search-button:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-button {
    float: right;
    line-height: 0;
    padding: 13px 21px;
   
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    align-self: center;

}


#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assests/img/slide/slider1.jpg') top center / cover no-repeat; 
    position: relative;

}

#slider .text-content {
    color: white;
    text-align: center;
    bottom: 48px;
    width: 100%;
    position: absolute;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 25px;

}



#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .heading-section {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;

}

#content .subheading-section {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;

}

#content .about  {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

#content .member-list {
    margin-top: 48px;
    text-align: center;
}

#content .member-item {
    width: calc(100%/3);
    float: left;
}

#content .member-img {
    margin-top: 15px;
    border-radius: 4px;
    width: 154px;
}

.tour-section {
    background-color: black;
    color: white;
}

.ticket-list {
    background-color: white;
    color: black;
    margin-top: 40px;
    list-style: none;

}

.ticket-list li {
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .Sold-out {
    background-color: #f44336;
    padding: 3px 3px;
    color: white;
    margin-left: 16px;

}
    
.ticket-list .quantity {
    float: right;
    background-color: black;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;
    margin-top: -3px;

}

.address-section {
    padding-bottom: 48px;
    margin: 32px -8px 0px;
    
}

.frame {

    color: black;
    padding: 0 8px;
    font-size: 15px;
    
    width: calc(100%/3);
    float: left;
    overflow: hidden;

}

.place-body {
    background-color: white;
    padding: 16px;
}

.img-place {
    width: 100%;
}

.img-place:hover {
    opacity: 0.6;
}
.heading-address {
    margin-top: 15px;
    font-weight: 500;
}

.Day-section {
    color: #757575;
    letter-spacing: 0.5px;
    margin: 15px 0px
}

.info-section {
    margin: 15px 0 15px;
    line-height: 1.4;
}

.Buy-button {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 8px 14px;
    display: inline-block;


}

.Buy-button:hover {
    background-color: #ddd;
    color: black;
}